@model FinanceWasmApp.Shared.Models.BillType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BillType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillTypeNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillTypeNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillTypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAdd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
