@page "/billlistpageNoCheckbox"
@using FinanceWasmApp.Data
@using FinanceWasmApp.Shared.Models
@inject BillDBService billDBService
@inject HttpClient Http

<h1>Search Bill</h1>

<div style="border:dashed 1px;background-color:lightgoldenrodyellow;">
</div>
@if (bills == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Bill Type</th>
                <th>Bill Date</th>
                <th>Bill Direction</th>
                <th>Bill Amount</th>
                <th>Bill Abstract</th>
                <th>Remark</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bill in bills)
            {
                <tr>
                    <td>@bill.BillType</td>
                    <td>@bill.BillDate.ToShortDateString()</td>
                    <td>@bill.BillDirection</td>
                    <td>@bill.BillAmount</td>
                    <td>@bill.BillAbstract</td>
                    <td>@bill.Remark</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Bill> bills;

    protected override async Task OnInitializedAsync()
    {
        billDBService.Http = Http;
        bills = await billDBService.GetAllBillsAsync();
    }

    private async Task<List<Bill>> GetAllBills()
    {
        billDBService.Http = Http;
        bills = await billDBService.GetAllBillsAsync();
        return bills;
    }
}
